.para{
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 10px;
    width: 140px;
}

.fname{
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 10px;
}

.phn{
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 10px;
    width: 150px;
}

.eml{
    /* padding-left: 8px; */
    /* padding-right: 8px; */
    margin-top: 10px;
    width: 200px;
}

.btnc{
    width: 80px;
    height: 40px;
    margin: 3px;
    border-radius: 12px;
}

.mdiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
  }
  
  .mdiv:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  